<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JobsList | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/a6ae2d75db.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav th:replace="base :: navlinks"></nav>
    <header th:fragment="bg-img" class="masthead"  style="background-image: url('img/job-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="title col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>JOB LISTINGS</h1>
                        <span class="subheading">Scroll down to find your dream job</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="get-started">
        <div class="container get-started-in">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">ADD</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <i class="fas fa-plus-circle fa-3x"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Add a new job listing</li>
                        </ul>
                        <a href="/add"><button type="button" class="mt-auto btn btn-lg btn-block btn-outline-primary">Add</button></a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">UPDATE</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <i class="far fa-edit fa-3x"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Update an existing job listing</li>
                        </ul>
                        <a href="#job-listings"><button type="button" class="mt-auto btn btn-lg btn-block btn-primary">Update</button></a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">DELETE</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <i class="fas fa-minus-circle fa-3x"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Delete a job listing</li>
                        </ul>
                        <a href="#job-listings"><button type="button" class="mt-auto btn btn-lg btn-block btn-primary">Delete</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
    <div id="job-listings" class="card-columns">
        <div th:each="job: ${jobs}">
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <a th:href="@{/detail/{id}(id=${job.id})}"><h4 class="card-title text-center" th:text="${job.title}"></h4></a>
                        <p class="card-text" th:text="${job.description}"></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Posted by: </small><small class="text-muted"  th:text="${job.author}"></small> <br />
                        <small class="text-muted">Contact #: </small><small class="text-muted"  th:text="${job.phone}"></small> <br />
                        <small class="text-muted">Date Posted: </small><small class="text-muted"  th:text="${job.postedDate}"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


<footer th:replace="base :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>